@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

*::after,
::before {
  box-sizing: border-box;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.accordion__button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 850px) {
  .accordion__button {
    * {
      text-align: start;
      font-size: 14px !important;
      font-weight: 400 !important;
    }
  }
}
